.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cat{
  height: 200px;
  width: 200px;
  border: 2px black solid;
  padding: 50px ;
  border-radius: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large;
  color:rgb(32, 35, 206);
  margin: 50px;
}
.listCat{
 align-items: center;
 display: inline-flex;
}
.item{
width: 320px;
height: 480px;
background: #fffdfd;
border-radius: 20px;
overflow: hidden;
border-left: 30px;
display: inline-block;
margin: 50px;

}



.itemImage{
  
 
  max-width: 50%;
    max-height: 50%;
  justify-content: center;
  align-items: right;
  padding-top: 20px;
  z-index: 1;
}

.itemDetail{
  display: grid;
  align-items: center;
  justify-items: center;

}

.itemImage1{
  
 
  max-width: 50%;
    max-height: 50%;
  justify-content: center;
  align-items: right;
  padding-top: 20px;
  z-index: 1;
}